{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row col-md-12">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="row">

                    <!-- Post Content Column -->
                    <div class="col-lg-12">

                        <!-- Title -->
                        <h1 class="mt-4">{{ post.title }}</h1>

                        <!-- Author -->
                        <p class="lead">
                            by
                            <a href="{{ path('fos_user_profile_show') }}">{{ post.user.username }}</a>
                        </p>

                        <hr>

                        <!-- Date/Time -->
                        <p>Posted on {{ post.postedOn|date("F jS \\a\\t g:ia") }}</p>

                        <hr>

                        <!-- Preview Image -->
                        {#<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">#}
                        {#<hr>#}

                        <!-- Post Content -->
                        <p>{{ post.body }}</p>
                        <hr>

                        <!-- Comments Form -->
                        <div class="card my-4">
                            <h5 class="card-header">Leave a Comment:</h5>
                            <div class="card-body">
                                <form method="post" action="">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>

                        <!-- Comment with nested comments -->
                        {% for comment in post.comments %}
                        <div class="media mb-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">{{ comment.user.username }}</h5>
                                {{ comment.comment }}

                                {#{% if comment.replies %}#}
                                {#{% for reply in comment.replies %}#}
                                {#<div class="media mt-4">#}
                                    {#<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">#}
                                    {#<div class="media-body">#}
                                        {#<h5 class="mt-0">{{ reply.user.username }}</h5>#}
                                        {#{{ reply.comment }}#}
                                    {#</div>#}
                                {#</div>#}
                                {#{% endfor %}#}
                                {#{% endif %}#}
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                </div>
                <!-- /.row -->
            {% endfor %}
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            {% for category in categories %}
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">{{ category.title }}</a>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.container -->
{% endblock %}
