{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/pagination.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row col-md-12">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="row">
                    <!-- Post Content Column -->
                    <div class="col-lg-12">

                        <!-- Title -->
                        <h1 class="mt-4">{{ post.title }}</h1>

                        <!-- Author -->
                        <p class="lead">by {{ post.user.username }}</p>

                        <hr>

                        <!-- Date/Time -->
                        <p>Posted on {{ post.postedOn|date("F jS \\a\\t g:ia") }}</p>

                        <hr>

                        <!-- Preview Image -->
                        {#<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">#}
                        {#<hr>#}

                        <!-- Post Content -->
                        <p class="blog-post">{{ post.body }}</p>

                        <hr>

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <!-- Comment -->
                        <p class="text-right"><a href="{{ path('comment_index', {'id': post.id}) }}">Leave a comment</a></p>
                        {% endif %}
                    </div>
                </div>
                <!-- /.row -->
            {% endfor %}
            <div class="pagination col-md-12 text-left">
                {{ knp_pagination_render(posts) }}
            </div>
            <hr>
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            {% for category in categories %}
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="{{ path('category_posts', {'id': category.id}) }}">{{ category.title }}</a>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.container -->
{% endblock %}

{% block javascripts %}
    <script>
        function getId(url) {
            var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
            var match = url.match(regExp);

            if (match && match[2].length == 11) {
                return match[2];
            } else {
                return 'error';
            }
        }

        $(document).ready(function() {
            var posts = $('p.blog-post');
            $.each(posts, function(i, blogPost) {
                var post = $(blogPost).text();
                var regExp = /https?:\/\/(www.)?(youtube.com|youtu.be)(\S)+/g;
                var youtubeLinks = post.match(regExp);

                $.each(youtubeLinks, function(i, link) {
                    var videoId = getId(link);
                    var videoiFrame = '<br/><iframe width="560" height="315" src="//www.youtube.com/embed/'+videoId+'" frameborder="0" allowfullscreen></iframe><br/>';

                    var replace = $(blogPost).html().replace(link, videoiFrame);
                    $(blogPost).html(replace);
                });
            });
        });
    </script>
{% endblock %}
