{% extends 'base.html.twig' %}

{% block body %}
<div class="container mb-3">
    <div class="row col-md-12">
        <div class="col-md-8">
            <div class="row">
                <!-- Post Content Column -->
                <div class="col-lg-12">

                    <!-- Title -->
                    <h1 class="mt-4">{{ post.title }} <a href="{{ path('admin_post_edit', { 'id': post.id }) }}"><i class="fas fa-pencil-alt"></i></a></h1>

                    <!-- Author -->
                    <p class="lead">by {{ post.user.username }}</p>

                    <hr>

                    <!-- Date/Time -->
                    <p>Posted on {{ post.postedOn|date("F jS \\a\\t g:ia") }}</p>

                    <hr>

                    <!-- Preview Image -->
                    {#<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">#}
                    {#<hr>#}

                    <!-- Post Content -->
                    <p id="post">{{ post.body }}</p>

                    <hr>

                    <a href="{{ path('admin_post_index') }}">Back to the list</a>
                </div>
            </div>
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            {{ include('admin/sidebar.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    function getId(url) {
        var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
        var match = url.match(regExp);

        if (match && match[2].length == 11) {
            return match[2];
        } else {
            return 'error';
        }
    }

    $(document).ready(function() {
        var post = $('p#post').text();
        var regExp = /https?:\/\/(www.)?(youtube.com|youtu.be)(\S)+/g;
        var youtubeLinks = post.match(regExp);

        $.each(youtubeLinks, function(i, link) {
            var videoId = getId(link);
            var videoiFrame = '<br/><iframe width="560" height="315" src="//www.youtube.com/embed/'+videoId+'" frameborder="0" allowfullscreen></iframe><br/>';

            var replace = $('p#post').html().replace(link, videoiFrame);
            $('p#post').html(replace);
        });
    });
</script>
{% endblock %}
